.container-news{
    padding-bottom:25px;
}

.news-head{
    padding-top: 60px;
}

.news-content{
    padding-top:35px;
    text-align:center;
}

.news-head h2{
    font:bold 49px Akrobat,Akrobat-Regular,Akrobat-Bold;
    text-transform:uppercase;
    color:#0a7fba;
    margin:0;
    text-align:center;
}

.news-item{
    
    margin-bottom:35px;
    
    overflow:hidden;
}

.news-item-link{
    background-color:#fbf8f8;
    display:block;
    margin-bottom: 20px;
}

.news-item-link:hover{
    background-color:#f3f2f2;
    cursor:pointer;
    text-decoration: none;
}

.news-item-last{
    margin-right:0;
}

.news-item-image{
    margin-bottom:8px;
}

.news-item p{
    padding: 0 5px;
}

p.news-item-date{
    font:24px Akrobat-Light,Akrobat,Akrobat-Regular;
    color:#589bc4;
    margin-bottom:20px;
}

p.news-item-title{
    font:bold 24px Akrobat,Akrobat-Regular,Akrobat-Bold;
    color:#FF1103;
    margin-bottom:15px;
}

.news-item-content{
    font:21px Akrobat,Akrobat-Regular;
    color:#589bc4;
}

.container-news .watch-more-news{
    padding-top: 0;
    text-align:center;
}

@media (min-width: 992px) {
    .news-item-link{
        height: 550px;
        overflow: hidden;
    }
}