.services-head {
    min-height: 371px;
    width: 100%;
    background: #9e3a3a url('../Images/services-head.jpg') no-repeat scroll center top;
    padding-top: 55px;
    padding-bottom: 10px;
    font-family: Akrobat,Akrobat-Regular,Akrobat-Bold;
}

.services-head h1, .services-head h2{
    text-align:center;
    font:bold 4.1em Akrobat,Akrobat-Regular,Akrobat-Bold;
    text-transform:uppercase;
    margin:0;
}

.services-head h1{
    color:#FFFFFF;
}

.services-head h2{
    color:#f7c504;
}

.services-content-item{
    padding:20px;
    min-height:390px;
    background-color:#F3F3F3;
    margin-bottom:40px;
}

.services-content-item .read-more-button{
    /*float:right;
    position:relative;
    bottom:-5.5%*/
    display:inline-block;
    margin: 12px 0 3px 0;
}

.services-content-item .item-text{
    text-align:center;
    font: normal 1.8em Akrobat-Light,Akrobat,Akrobat-Regular;
    line-height: 1.4;
    color:#62b5cb;
    /*height: 261px;*/
}

.services-content-item .item-title{
    font:bold 30px Akrobat,Akrobat-Regular, Akrobat-Bold;
    text-transform:uppercase;
    color:#62b5cb;
    text-align:center;
}

.services-module div.collapse[aria-expanded="false"] {
    height: 222px !important;
    overflow: hidden;
  
    display: block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.services-module div.collapsing[aria-expanded="false"] {
    height: 232px !important;
}

@media (max-width: 420px) {
    .services-head h1, .services-head h2{
        font:bold 8.7vmin Akrobat,Akrobat-Regular,Akrobat-Bold !important;
    }
}

@media (max-width: 996px) {
    .services-head h1, .services-head h2{
        font:bold 3em Akrobat,Akrobat-Regular,Akrobat-Bold;
    }
}

@media (max-width: 992px) {
    .read-more {
        text-align: center;
    }
}
