body{
    font-family:Akrobat,Akrobat-Regular, Akrobat-Bold,sans-serif;
}
#header{
    height: 554px;
}
.header-top {
    height: 554px;
    width:100%;
    background: #FBDF00 url('../Images/header.jpg') no-repeat scroll center top;
    position:absolute;
    text-align: center;
}

.header-top .site-logo {
    position:relative;
    top:4px;
    
}

.site-logo .logo-img-ro{
    display:inline-block;
    width:226px;
    height:226px;
}

.header-top .header-menu{
    width:100%;
    position:absolute;
    bottom:20px;
}

.menu-items{
    text-align:center;
    display:inline-block;
}

.header-menu a.blue, .header-menu a {
    line-height: 1;
    text-align:center;
    float:left;
    display:inline;
    padding:0;
    color:#ffffff;
    font-family:Akrobat,Akrobat-Regular;
    font-weight:bold;
    font-size:40px;
    width:187px;
    height:45px;
    background-color:#0071B8;
    text-decoration:none;
    margin-right:28px;
    text-transform:uppercase;
}

#navbar-collapse ul.nav.navbar-nav{
    padding-top: 6px;
}
    

#navbar-collapse ul.nav.navbar-nav li {
    line-height: 1;
    text-align:center;
    float:left;
    display:inline;
    
    margin-right:20px;
    text-transform:uppercase;
}

#navbar-collapse ul.nav.navbar-nav li a{
    color:#fff;
        font-size: 2.4em;
    padding-bottom:10px;
    padding-top:7px;
    margin-bottom: 8px;
}

.navbar-wrapper{
    position: relative;top: -70px;
    margin-bottom: -40px;
}


@media (max-width: 768px){
    #navbar-collapse ul.nav.navbar-nav li {
    float: none;
    display:block;
    margin-right:0;
}
    #header{
        display:none;
    }

    .navbar-wrapper{
    top:0;
}
    .navbar-header a#lang-swither{
    display:inline-block !important;
}
    #navbar-collapse a#lang-swither{
        display:none;
    }

.navbar-header .navbar-brand{
    display:inline-block !important;
}
#navbar-collapse ul.nav.navbar-nav li a {
    color: #000;
    font-size: 1.7em;
    padding-bottom: 10px;
    padding-top: 7px;
    margin: 0;
        background-color: transparent;
    box-shadow: none;
}
#navbar-collapse ul.nav.navbar-nav li:hover{
    background-color: #ebebeb;
}
#navbar-collapse ul.nav.navbar-nav li{
    
}
}

@media (min-width: 768px) {
    .navbar-default {
    background-color: transparent;
    border:none;
}
    .navbar-nav {
    margin-left: 11%;
}
    #navbar-collapse ul.nav.navbar-nav li a:focus{
        background-color: #2386ca;
    }

    #navbar-collapse ul.nav.navbar-nav li a#lang-swither:focus{
        background-color: transparent;
    }
    
}

.navbar-wrapper .navbar.navbar-default {
    margin:0;
}

.navbar-default .navbar-toggle{
    border:none;
}

.header-menu a.blue:hover, #navbar-collapse a.blue:hover{
    background-color: #2386ca;
}
 
#navbar-collapse a#lang-swither{
    text-transform:uppercase;
    /*padding: 15px 25px 15px 10px;*/
    color:#0071B8;
}

a#lang-swither{
    float:right;
    text-transform:uppercase;
    padding: 15px 25px 15px 10px;
}   

.navbar-header a#lang-swither{
    display:none;
}

.navbar-header .navbar-brand{
    display:none;
}

.header-menu a.lang-btn{
    margin:0;
    color:#0071B8;
    background-color:transparent;
    width:auto;
}
.site-container{
    width:1100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-zero{
    width:1100px;
    margin-right: auto;
    margin-left: auto;
}

/*.absolute{
    position:absolute;
    margin-right: auto;
    margin-left: auto;
    width:inherit;
}*/

/*.container-large{
    width:1920px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}*/

.white-delimiter{
    height:40px;
    width:100%;
    background-color:#ffffff;
}

.white-delimiter-h30{
    height:30px;
    width:100%;
    background-color:#ffffff;
}

#footer{
    padding: 25px 0 35px 0;
    width:100%;
    background: #FFC600 no-repeat center top;

}

ol, ul {
    list-style: none;
}

.widget-col{
    width:220px;
    float:left;
    text-align:center;
    padding-top:20px;
}

.footer-widget ul{
    padding-left:0;
    text-align:center;
}

.widget-col li{

}

.footer-widget li a{
    font-size:25px;
    font-family:Akrobat,Akrobat-Regular,Akrobat-Light;
    color:#515151;
    text-decoration:none;
}

.read-more {
    text-align: right;
}

.read-more-button{
    padding-top:7px;
    width:240px;
    height:45px;
    background-color:#00B3CC;
    font:bold 22px Akrobat,Akrobat-Regular;
    color:#ffffff;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
}
.read-more-button:hover{
    color:#515151;
    text-decoration:none;
}

.paging-items{
    
}

.paging-items li a.page-next{
    padding: 4px 10px 5px 25px;
    font-size: 20px;
    font-weight:bold;
    margin-top: 10px;
}

.paging-items li a.page-prev{
    padding: 4px 30px 5px 15px;
    font-size: 20px;
    font-weight:bold;
    margin-top: 10px;
}

.clear{
    clear:both;
}

#photos-list ul.nav-tabs li a{
    font:normal 16px Akrobat-Light,Akrobat,Akrobat-Regular;
}

.break-word {
		word-wrap: break-word;
}

*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; 
}
ul {
list-style: none;
}
a {
text-decoration: none;
outline: none;
}

.full-width-img img {
/*display: block;*/
max-width: 100% !important;
    height: 100% !important;
        height: 100% !important;
    width: 100% !important;
}