@model MegaKids.IServices.Models.ModelGallery
@{
    ViewBag.Title = Model.Album.Name + " - " + @String.Format("{0:dd/MM/yyyy}", Model.Album.CreateDate);
}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Content/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/admin/pages/css/portfolio.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="~/Content/assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
<!-- END THEME STYLES -->
<link href="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/css/transitions.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/support/examples.css" rel="stylesheet" />

<div class="container-album">
    <div class="container">
        <div class="album-photos">
            <div class="album-head">
                <h2>@Model.Album.Name @String.Format("{0:d}", Model.Album.CreateDate)</h2>
            </div>
            <div class="photos-container">
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12" id="photos-list">
                        <div class="Collage">
                            @foreach (var photo in Model.Photos)
                            {
                                <div class="Image_Wrapper mix-details mix-preview fancybox-button" href="~/Content/Images/gallery/albums/@{@Model.Album.Id}/photos/@{@photo.PhotoName}" title="" data-rel="fancybox-button">
                                    <img src="~/Content/Images/gallery/albums/@{@Model.Album.Id}/photos/@{@photo.PhotoName}">
                                </div>
    }
                        </div>
                    </div>
                    <!-- Другие альбомы -->
                    @Html.Action("RecentAlbumsPartial", "gallery", new { currentAlbum = Model.Album.Id })
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
    
</div>



@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="~/Content/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="~/Content/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/admin/pages/scripts/portfolio.js"></script>
  
<script src="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/jquery.collagePlus.js"></script>
<script src="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/extras/jquery.removeWhitespace.js"></script>
<script src="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/extras/jquery.collageCaption.js"></script>
<script>
        $(window).load(function () {
            $(document).ready(function () {
                collage();
                $('.Collage').collageCaption();
                Portfolio.init();
            });
        });
        // Here we apply the actual CollagePlus plugin
        function collage() {
            $('.Collage').removeWhitespace().collagePlus(
                {
                    'fadeSpeed': 2000,
                    'targetHeight': 350,
                    'effect': 'effect-6',
                    'allowPartialLastRow': true
                }
            );
        };

        // This is just for the case that the browser window is resized
        var resizeTimer = null;
        $(window).bind('resize', function () {
            // hide all the images until we resize them
            $('.Collage .Image_Wrapper').css("opacity", 0);
            // set a timer to re-apply the plugin
            if (resizeTimer) clearTimeout(resizeTimer);
            resizeTimer = setTimeout(collage, 200);
        });
</script>    
}

