
@{
    ViewBag.Title = "Mega Kids Admin Area";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-globe"></i>
            <a>Mega Kids</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <h3 style="margin: 0;">Добро пожаловать, @User.UserName!</h3>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts{
    <script>
        $('#site-global').addClass("active open");
    </script>  
}

