@model MegaKids.IServices.Models.ModelNews
@{
    ViewBag.Title = Model.Title;
    ViewBag.Keywords = Model.Seo_Keywords;
    ViewBag.Description = Model.Seo_Description;
}

<style type="text/css">
    .header-menu a#btn-news {
        background-color: #57abe4;
    }
</style>

<div class="container-watchnews">
    <div class="container full-width-img">
        <div class="watchnews">
            <div class="row">
                <div class="col-md-12">
                    <div class="watchnews-head">
                        <h1 class="watchnews-title">@Model.Title</h1>
                        <p class="watchnews-createdate">@Resource.Added: @String.Format("{0:dd.MM.yyyy}", Model.CreateDate)</p>
                        <div class="image-wrapper col-md-12">
                            <img src="~/Content/Images/NewsImages/@Model.Id/@Model.Photo" />
                        </div>
                        
                    </div>
                    <div class="watchnews-content">
                        @Html.Raw(Model.NewsContent)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="white-delimiter"></div>
