<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; /*// This is the aspect ratio*/
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
<!--  Блок с картой -->
<div class="container-map">
    <div class="container div-map">
        <div class="row">
            <div class="col-md-9">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d679.6957777527123!2d28.861544229221494!3d47.04448659869698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97cf85888fd67%3A0xc9b18e2c6468db15!2sMega+Kids!5e0!3m2!1sru!2sus!4v1495959654687" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
            <div class="col-md-3">
                <div class="map-contacts">
                    <img class="map-marker" src="~/Content/Images/map-marker.png" />
                    <p style="line-height: 1.5;">@Resource.Map_Marker</p>
                    <img class="map-phone" src="~/Content/Images/map-phone.png" />
                    <p>@Resource.Map_GameZone</p>
                    <p>@Resource.Map_Restaurant</p>
                    <img class="map-clock" src="~/Content/Images/map-clock.png" />
                    <p>@Resource.Map_Time</p>
                    <p>10:00 - 23:00</p>
                </div>
            </div>
        </div>
        
    </div>

</div>
<!-- Конец блока с картой -->
