<!--  Блок с картой -->
<div class="container-map">
    <div class="site-container">
        <div class="map-contacts">
            <div class="map-marker"></div>
            <p>Торговый Центр “СОЮЗ”  3 этаж</p>
            <div class="map-phone"></div>
            <p>+373 79 00 00 00</p>
            <div class="map-clock"></div>
            <p>Ждём Вас ежедневно:</p>
            <p>10:00 - 22:00</p>
        </div>
    </div>

</div>
<!-- Конец блока с картой -->
